<a href="https://colab.research.google.com/github/SolomonBekele/ml-model/blob/master/4_7_handling_imbalaced_dalataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Imbalaced Dataset**
a dataset with an unequal class distribution

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
creadit_card= pd.read_csv("/content/credit_data.csv")

In [ ]:
#distribution of the two class
creadit_card['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Highly imbalaced dataset

0 -> legit transactions
1 -> fraudulent transactions

In [ ]:
# separating the legit and fraudulent transactions
legit = creadit_card[creadit_card.Class == 0]
fraud = creadit_card[creadit_card.Class == 1]
print(legit.shape,fraud.shape)

(284315, 31) (492, 31)

Under-sampling

Build a sample dataset contsaining similar distribution of legit & fraudulent transactions

Number of fraudulent transaction = 492

In [ ]:
legit_sample = legit.sample(n=492)

concatinate the two dataframes

In [ ]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [ ]:
print(new_dataset.shape)
new_dataset.Class.value_counts()

(984, 31)

0    492
1    492
Name: Class, dtype: int64